$fontStack: Helvetica, sans-serif;

li {
  list-style-type: none;
}

.goodTop {
  background: linear-gradient(
    to bottom,
    #93cdad,
    #93cdad 90%,
    #b6ddc7 10%,
    #b6ddc7
  );
}

.brokenTop {
  background: linear-gradient(
    to bottom,
    #f6704d,
    #f6704d 90%,
    #f8977e 10%,
    #f8977e
  );
}

.goodBottom {
  background-color: #b6ddc7;
}

.brokenBottom {
  background-color: #f8977e;
}

.project {
  width: 600px;
  float: left;
  background-size: 100% 10px;
  margin: 5px;
  border: solid;
  border-color: #2E2E29;
  border-width: 10px;

  .projectStatus {
    width: 100%;
    height: 120px;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  h1.code {
    font: $fontStack;
    font-size: 200px;
    line-height: 0px;
    text-transform: uppercase;
  }
}

.builds {
  width: 100%;
  height: 75px;
  padding-top: 5px;

  .lastBuild {
    font-size: 30px;
    float: left;
    margin: 14px 10px 0px 10px;
    font: $fontStack;
  }

  .buildStatuses {
    padding-top: 10px;
    margin-left: 29px;
  }

  .buildStatus {
    text-align: center;
    margin-left: 6px;
    float: left;
    width: 45px;
    height: 45px;
    background-color: white;

    .success {
      font-size: 60px;
      line-height: 47px;
    }

    .failed {
      font-size: 30px;
      line-height: 49px;
    }
  }

  .buildStatuses li:nth-child(1) {
    opacity: 0.55;
  }

  .buildStatuses li:nth-child(2) {
    opacity: 0.55;
  }

  .buildStatuses li:nth-child(3) {
    opacity: 0.55;
  }

  .buildStatuses li:nth-child(4) {
    opacity: 0.55;
  }

  .buildStatuses li:nth-child(5) {
    opacity: 0.5;
  }

  .buildStatuses li:nth-child(6) {
    opacity: 0.45;
  }

  .buildStatuses li:nth-child(7) {
    opacity: 0.4;
  }

  .buildStatuses li:nth-child(8) {
    opacity: 0.35;
  }

  .buildStatuses li:nth-child(9) {
    opacity: 0.3;
  }

  .buildStatuses li:nth-child(10) {
    opacity: 0.25;
  }
}

@keyframes flickerAnimation {
  5%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes flickerAnimation{
  5%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes flickerAnimation{
  5%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes flickerAnimation{
  5%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animateFlicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}
